@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Michael Miles<br />
    Indianapolis IN, <br /> 
    <abbr title="Phone"></abbr>
    317.222.1144
</address>

<address>
    <strong>Support:</strong>   <a href="milesofcoding@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="milesofcoding@gmail.com">Marketing@example.com</a>
</address>