@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Living Miles Ahead Life Insurance</h1>
    <p class="lead">Protect your love ones miles ahead.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply</h2>       
        <p><a class="btn btn-default" @Html.ActionLink("Apply", "Create", "Client")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Term Policy</h2>
        <p>What is a Term Policy?</p>
        <p><a class="btn btn-default" href="https://www.investopedia.com/ask/answers/08/term-life-insurance.asp">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Whole Life Policy</h2>
        <p>What is a Whole Life Policy?</p>
        <p><a class="btn btn-default" href="https://www.investopedia.com/terms/w/wholelife.asp">Learn more &raquo;</a></p>
    </div>
</div>